* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body {
     background-color: black;
     color: white;

}

.container {
     width: 100%;
     display: flex;
     height: 100vh;

}

.side-bar {
     width: 350px;
     background-color: rgba(43, 41, 41, 0.75);
     display: flex;
     flex-direction: column;
     padding: 15px;

}

span img {
     width: 40px;
     margin-top: auto;
}

.search-bar {
     width: 100%;
     padding: 13px;
     background-color: rgba(43, 41, 41, 0.95);
     border-radius: 22px;
     color: #fff;
     border: 2px solid rgba(255, 255, 255, 0.9);
     font-size: 18px;
     font-weight: 400;
     margin-top: 30px;

}

.side-bar h2 {
     font-size: 20px;
     display: flex;
     justify-content: space-between;
     padding: 30px 0;
}

.plus {
     font-size: 25px;
     font-weight: 300;
}

.library-box {
     background-color: rgba(43, 41, 41, 0.95);
     padding: 15px;
     margin-bottom: 30px;
     border-radius: 10px;
}

.library-box p {
     padding: 8px;
     font-weight: 700;
}

.box-btn {
     padding: 8px 14px;
     border-radius: 20px;
     font-size: 15px;
     font-weight: 700;
     border: none;
     margin-top: 10px;

}

.footer-links {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 12px;
     font-size: 13px;
     margin: 40px 0 20px;

}

.footer-links a {
     text-decoration: none;
     color: #e2d9d9;
}

.lang-btn {
     margin-top: 15px;
     padding: 6px 20px;
     border-radius: 20px;
     font-weight: 600;
     color: white;
     background-color: black;
     border: 1px solid rgba(255, 255, 255, 0.9);
}

.main-bar {
     flex: 1;
     padding: 20px;
     background-color: rgba(43, 41, 41, 0.75);
     overflow-y: ;
}

.nav-bar {
     display: flex;
     justify-content: flex-end;
     gap: 20px;
}

.nav-bar a {
     color: #e2d9d9;
     text-decoration: none;
     font-size: 15px;
     font-weight: 700;
     text-align: center;
     padding: 10px 0;
}

.nav-btn {
     padding: 8px 14px;
     border-radius: 20px;
     font-size: 15px;
     font-weight: 700;
     border: none;
}



.trending {}

.trending h2 {
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
     font-size: 20px;
}

.show-all a {
     text-decoration: none;
     color: #e2d9d9;
     font-size: 15px;
}